@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";

button,
input[type='submit'] {
  background: var(--color-gray-800);
  color: var(--color-white);
  padding: calc(var(--spacing) * 2);
}

label {
  display: block;
}
